core/src/main/resources/org/cleverbus/core/common/asynch/confirm/ws/v1_0/asynchConfirmationOperations-v1.0.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           xmlns:xs="http://www.w3.org/2001/XMLSchema"
           xmlns:tns="http://cleverbus.org/ws/AsynchConfirmationService-v1"
           targetNamespace="http://cleverbus.org/ws/AsynchConfirmationService-v1">

    <xs:annotation>
        <xs:documentation>Operation requests/responses</xs:documentation>
    </xs:annotation>

    <!-- confirmProcessing -->
    <xs:element name="confirmProcessingRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="correlationID" type="xs:string" minOccurs="1"/>
                <xs:element name="timestamp" type="xs:dateTime" minOccurs="1"/>
                <xs:sequence>
                    <xs:element name="processingResult" type="tns:processingResults">
                        <xs:annotation>
                            <xs:documentation>Result of the asynchronous message processing.</xs:documentation>
                        </xs:annotation>
                    </xs:element>
                    <xs:element name="additionalInfo" type="xs:string" minOccurs="0">
                        <xs:annotation>
                            <xs:documentation>
                                Additional info to confirmation. Can be used to provide additional info related
                                to confirmation (typically for error descriptions).
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="processingResults">
        <xs:annotation>
            <xs:documentation>List of possible results.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>It means that asynch. message was successfully processed</xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="ERR">
                <xs:annotation>
                    <xs:documentation>
                        It means that asynch. message was correctly processed but with any (business) problem(s).
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="confirmProcessingResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="result" type="tns:processingResults">
                    <xs:annotation>
                        <xs:documentation>Result of the asynchronous message notification.</xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="additionalInfo" type="xs:string" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Additional info to notification. Can be used to provide additional info related
                            to notification (typically for error descriptions).
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>