core-api/src/main/resources/org/openhubframework/openhub/api/modules/in/common/commonTypes-v1.0.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified"
           targetNamespace="http://openhubframework.org/ws/Common-v1"
           xmlns:cc="http://openhubframework.org/ws/Common-v1"
           xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:element name="traceHeader" type="cc:traceHeader">
        <xs:annotation>
            <xs:documentation>Common request header for asynchronous request/response messages.</xs:documentation>
        </xs:annotation>
    </xs:element>

    <xs:complexType name="traceHeader">
        <xs:sequence>
            <xs:element name="traceIdentifier" type="cc:traceIdentifier">
                <xs:annotation>
                    <xs:documentation>Basic mandatory tracing information.</xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="traceIdentifier">
        <xs:sequence>
            <xs:element name="applicationID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>Identification of source application.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="timestamp" type="xs:dateTime">
                <xs:annotation>
                    <xs:documentation>Timestamp of sent request.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="correlationID" type="xs:string">
                <xs:annotation>
                    <xs:documentation>
                        Used to track calls from the service consumer to the API.
                        This parameter is free text, unique value (e.g. UUID), generated by the caller.
                        It is the responsibility of the application to generate a unique value and pass it during each
                        call to the API.
                        Unique identifier (at least for specific application) serves for pairing asynchronous
                        request/response messages.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="processID" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Used to track calls connected to one process (e.g. one process is "creating new customer"
                        and it means calling creating customer, then activating him etc.)

                        This parameter is free text, unique value (e.g. UUID), generated by the caller.
                        It is the responsibility of the application to generate a unique value and pass it to all calls
                        of one process.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="callbackResponse">
        <xs:annotation>
            <xs:documentation>Response for asynchronous callback requests.</xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="status" type="cc:confirmationTypes">
                <xs:annotation>
                    <xs:documentation>Confirmation status.</xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="additionalInfo" type="xs:string" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>Additional info to confirmation. Can be used to provide additional info related
                        to confirmation (typically for failures).
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:simpleType name="confirmationTypes">
        <xs:annotation>
            <xs:documentation>List of possible confirmation responses.</xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:enumeration value="OK">
                <xs:annotation>
                    <xs:documentation>It means that request message was successfully received and it is confirmed.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
            <xs:enumeration value="FAIL">
                <xs:annotation>
                    <xs:documentation>Means that request message was not successfully received and/or cannot be
                        confirmed.
                    </xs:documentation>
                </xs:annotation>
            </xs:enumeration>
        </xs:restriction>
    </xs:simpleType>

    <xs:element name="asynchResponse">
        <xs:annotation>
            <xs:documentation>General response for input asynchronous message.</xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="confirmAsynchRequest" type="cc:callbackResponse"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

</xs:schema>